antlr4-python3-runtime==4.8
bert-pytorch==0.0.1a4
boto3==1.17.46
botocore==1.20.46
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
Click==7.0
Cython==0.29.16
dataclasses==0.7
fairseq==0.10.1
hydra-core==1.0.4
idna==2.8
importlib-resources==5.1.2
jmespath==0.10.0
joblib==1.0.1
more-itertools==8.7.0
numpy==1.18.0
omegaconf==2.0.6
opencv-python==3.4.2.16
pandas==1.1.5
Pillow==7.0.0
portalocker==2.0.0
pycparser==2.20
python-dateutil==2.8.1
pytorch-transformers==1.2.0
pytz==2021.1
PyYAML==5.4.1
regex==2021.3.17
requests==2.25.1
s3transfer==0.3.6
sacrebleu==1.4.14
sacremoses==0.0.38
scikit-learn==0.24.1
scipy==1.4.1
sentencepiece==0.1.95
six==1.14.0
subword-nmt==0.3.6
threadpoolctl==2.1.0
torch==1.7.1
torchsummary==1.5.1
torchvision==0.8.2
tqdm==4.42.0
typing-extensions==3.7.4.3
urllib3==1.26.4
zipp==2.1.0
